.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
}

@media (min-width: 240px) and (max-width: 639px) {
    .gallery {
        grid-template-columns: auto auto;
        column-gap: 16px;
        row-gap: 16px;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .gallery {
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .gallery {
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;
    }
}